{{define "subject"}} Reset Your Password {{end}}

{{define "body"}}
<html>
    <body>
        <p>Hi {{.Username}}, Follow the link below to reset your password.</p>
        <p>Reset your password: <a href="{{.ResetURL}}">{{.ResetURL}}</a></p>
        <p>Thanks, Communiverse Team</p>
    </body>
</html>
{{end}}